<%= form_for :restaurant, url: restaurants_path do |f| %>
	<p>
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :location %><br />
		<%= f.text_field :location %>
	</p>
	<p>
		<%= f.label :description %><br />
		<%= f.text_field :description %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>