<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @restaurant.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<% @reviews.each do |r| %>
  <p>
    <%= render 'application/review_box', review: r %>
  </p>
<% end %>

<%= link_to 'Add Review', new_review_path(restaurant_id: @restaurant.id), :class => "button" %>
